In [1]:
import requests
from lxml import html
import time

num_of_stations = []
station_element = []

for i in range(2011,2111):
    
    # url to scrap data from
    link = 'https://www.aishub.net/stations/{}'.format(i)

    # path to particular element
    path = '/html/body/div/div/section[2]/div/div[2]/div/div[2]/div/div[1]/div[1]'

    response = requests.get(link)
    byte_string = response.content

    # get filtered source code
    source_code = html.fromstring(byte_string)

    # jump to preferred html element
    tree = source_code.xpath(path)

    # print texts in first element in list
    num_stats = tree[0].text_content()
    num_of_stations.append(num_stats)
    station_element.append(i)
    print("Data scrapped from... ", i)
    time.sleep(1)

Data scrapped from...  2011
Data scrapped from...  2012
Data scrapped from...  2013
Data scrapped from...  2014
Data scrapped from...  2015
Data scrapped from...  2016
Data scrapped from...  2017
Data scrapped from...  2018
Data scrapped from...  2019
Data scrapped from...  2020
Data scrapped from...  2021
Data scrapped from...  2022
Data scrapped from...  2023
Data scrapped from...  2024
Data scrapped from...  2025
Data scrapped from...  2026
Data scrapped from...  2027
Data scrapped from...  2028
Data scrapped from...  2029
Data scrapped from...  2030
Data scrapped from...  2031
Data scrapped from...  2032
Data scrapped from...  2033
Data scrapped from...  2034
Data scrapped from...  2035
Data scrapped from...  2036
Data scrapped from...  2037
Data scrapped from...  2038
Data scrapped from...  2039
Data scrapped from...  2040
Data scrapped from...  2041
Data scrapped from...  2042
Data scrapped from...  2043
Data scrapped from...  2044
Data scrapped from...  2045
Data scrapped from...  2046
Data scrapped from...  2047
Data scrapped from...  2048
Data scrapped from...  2049
Data scrapped from...  2050
Data scrapped from...  2051
Data scrapped from...  2052
Data scrapped from...  2053
Data scrapped from...  2054
Data scrapped from...  2055
Data scrapped from...  2056
Data scrapped from...  2057
Data scrapped from...  2058
Data scrapped from...  2059
Data scrapped from...  2060
Data scrapped from...  2061
Data scrapped from...  2062
Data scrapped from...  2063
Data scrapped from...  2064
Data scrapped from...  2065
Data scrapped from...  2066
Data scrapped from...  2067
Data scrapped from...  2068
Data scrapped from...  2069
Data scrapped from...  2070
Data scrapped from...  2071
Data scrapped from...  2072
Data scrapped from...  2073
Data scrapped from...  2074
Data scrapped from...  2075
Data scrapped from...  2076
Data scrapped from...  2077
Data scrapped from...  2078
Data scrapped from...  2079
Data scrapped from...  2080
Data scrapped from...  2081
Data scrapped from...  2082
Data scrapped from...  2083
Data scrapped from...  2084
Data scrapped from...  2085
Data scrapped from...  2086
Data scrapped from...  2087
Data scrapped from...  2088
Data scrapped from...  2089
Data scrapped from...  2090
Data scrapped from...  2091
Data scrapped from...  2092
Data scrapped from...  2093
Data scrapped from...  2094
Data scrapped from...  2095
Data scrapped from...  2096
Data scrapped from...  2097
Data scrapped from...  2098
Data scrapped from...  2099
Data scrapped from...  2100
Data scrapped from...  2101
Data scrapped from...  2102
Data scrapped from...  2103
Data scrapped from...  2104
Data scrapped from...  2105
Data scrapped from...  2106
Data scrapped from...  2107
Data scrapped from...  2108
Data scrapped from...  2109
Data scrapped from...  2110

In [2]:
print("Number of stations detected ... " , num_of_stations )
print("Area ID..." , station_element)

Number of stations detected ...  ['290', '0', '0', '17', '0', '7', '17', '0', '10', '78', '20', '109', '54', '0', '8', '0', '0', '12', '0', '91', '169', '143', '3', '17', '136', '0', '66', '22', '0', '4', '0', '140', '99', '85', '24', '0', '225', '2', '0', '0', '20', '10', '15', '20', '22', '79', '245', '85', '28', '36', '43', '166', '2287', '0', '466', '26', '0', '0', '0', '27', '0', '19', '99', '0', '0', '143', '990', '0', '0', '0', '0', '31', '347', '33', '42', '171', '0', '118', '0', '0', '0', '63', '151', '0', '0', '0', '535', '30', '0', '17', '0', '54', '2', '0', '124', '162', '0', '0', '13', '59']
Area ID... [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110]

In [5]:
!wget https://www.aishub.net/stations/export

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
import glob 
import pandas as pd 
import xml.etree.ElementTree as ET 
from datetime import datetime

In [6]:
def extract_from_csv(file_to_process): 
    dataframe = pd.read_csv(file_to_process) 
    return dataframe

In [7]:
df = pd.read_csv('https://www.aishub.net/stations/export')

In [8]:
df

       ID Country      Location  Latitude  Longitude  Last signal
0    2766      ao         Zaire   -7.0000    13.0000   1632831301
1    3061      ar  Buenos Aires  -34.4328   -58.5580   1634144102
2    2556      au      Franklin  -43.0782   146.9960   1634144101
3    2360      au  Port Hedland  -20.3302   118.5730   1634144101
4    2739      au    Townsville  -19.2600   146.7100   1634144101
..    ...     ...           ...       ...        ...          ...
914  2376      zz        At Sea    0.0000     0.0000   1634144101
915  2755      zz        At Sea    0.0000     0.0000   1629645601
916  2389      uy    Montevideo  -34.8792   -56.1913   1634144101
917  2040      vn          HCMC   10.7423   106.7240   1634144101
918  3314      vn         Hanoi   20.7181   106.7980   1620216002

[919 rows x 6 columns]